<div class="container">
  <h1>Numerated Coding Challenge</h1>
  <form>
    <div class="form-group">
      <label for="routes">Routes</label>
      <select class="form-control" name="routes" id="routes" [ngModel]="selectedRoute" (ngModelChange)='onSelectRoute($event)' required>
        <option *ngFor="let route of routes" [ngValue]="route.id">{{route.attributes.long_name}}</option>
      </select>
    </div>

    <p></p>

    <div class="form-group" *ngIf="selectedRoute">
      <label for="stops">Stops</label>
      <select class="form-control" name="stops" id="stops" [ngModel]="selectedStop" (ngModelChange)='onSelectStop($event)' required>
        <option *ngFor="let stop of stops" [value]="stop.id">{{stop.attributes.name}}: {{stop.attributes.address}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedRoute && selectedStop && directionsBuilt.built">
      <label for="directions">Directions</label>
      <select class="form-control" name="directions" id="directions" [ngModel]="selectedDirection" (ngModelChange)='onSelectDirection($event)' required>
        <option *ngFor="let direction of directionsBuilt.directionWrappers" [value]="direction.directionObject.attributes.directionId">{{direction.label}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedRoute && selectedStop && selectedDirection">
      <label for="name">Next Predicted Departure Time</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
